 .dropclass {
    
    position:  absolute;
     inset:  0px auto auto 0px;
     margin:  0px;
     transform:  translate3d(0px,  44px,  0px);
    
  }
  .img-wrap img {
    aspect-ratio:  1 / 1;
}


*, :after, :before {
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.shopping-cart-layout{
    .footer-wrapper{
        background-color: #262626;
    }
    .rc-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        min-height: 170px;
    }
    .card-img-top{
        max-height: 150px;
        width: auto;
    }
}
